ul {
    margin:auto !important;
    width:86%;
    padding:1em 0;
    display:grid;
    grid-template-columns: 1fr;
    grid-column-gap:5%;
}

li {
    width:250px;
    height:720px;
    margin:auto;
    margin-bottom:1.5em;
    background-color:#382E78;
    padding-bottom:1em;
    color:white;
}

p {
    font-size:.8em;
}

h1 {
    font-size:2em !important;
}

h2 {
    font-size:1.2em!important;
}

h3 {
    font-size:1em !important;
}

img {
    width:250px;
}

a {
    color:white !important;
    font-size:2em;
    cursor:pointer;
}

a:hover {
    color:red !important;
}

#is-bg-purple {
    background-color: #382E78 !important;
}


.jumbotron {
    max-height:375px;
    overflow:hidden;
    position:relative;
}

.container {
    max-width:100% !important;
}

#popcorn {
z-index:2;
position:absolute;
background-image: url("../img/popcorn.png");
background-repeat:no-repeat;
background-position: center 62px;
background-size:250px;
height:100%;
width:100%;

}

.background-img {
    z-index: 1;
    width:100%;
}

.background-img img {
    width:100%;
    max-width:100% !important;
}

.now-playing {
    background-color:#382E78;
    color:white;
    width:100%;
    padding: .5em 0 .5em 0;
}

.now-p-title {
    text-align: center;
    padding:0 1em;
}



.background {
    width:100%;
    background-color: #242424;
    padding:1em;
}

.movie-container {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    box-shadow: 10px 7px 10px 0px rgba(0,0,0,0.45);
}

.movie-img {
    grid-column: 1 / span 2;
}

.movie-img:hover :focus {
    background-color:red;
}

.movie-title {
    grid-column: 1 / span 2;
    text-align:center;
    padding:0 1em;
}

.synopsis {
    grid-column: 1 / span 2;
    padding: 0 2em;
}

.release {
    display:inline;
    margin:auto 0 auto 2em;
}

.release p {
    margin:0;
}

.score {
    background-color:#614BEF;
    border-radius:50%;
    width:35%;
    height:45px;
    text-align:center;
    font-size:1.5em;
    justify-self: center;
    align-self:center;
}

.score p {
    display:inline;
    vertical-align:middle;
    color:white;
}

#pages {
    background-color: #242424;
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    justify-items: center;
    width:80%;
    margin:auto;
}

#currentpg {
    border:1px solid;
    border-radius:50%;
    background:red;
}

.page {
    width:100%;
    text-align:center;
}

#singleview-cont {
    position:fixed;
    display:none;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    background-color:rgba(56,46,120,0.95);
    z-index: 4;
    overflow:scroll;
}

.wrapper {
    width:70%;
}

#movie-cont {
    margin:auto;
    display:block;
    width:100%;
}


.closepage {
    text-align:right;
    cursor:pointer;
    color:white;
    font-weight:800;
    font-size:2em;
    grid-column:1 /span 2;
    padding-right:.46em;
}

.closepage:hover {
    color:red;
}

.details-bg {
    display:grid;
    background-color:#242424;
    width:60%;
    color:white;
    grid-template-columns:1fr;
    margin:auto;
}


.poster-img {
    display:inline-block;
    width:100%;
}

.poster-img img {
    width:100%;
}

.content {
    display:grid;
    grid-template-columns: 1fr;
}

.title-date-cont {
    grid-column:1 / span 2;
    background-color:#382E78;
    margin:auto;
    margin-bottom:1em;
    width:80%;

}

.title-date {
    align-self: center;
    /* height:80%; */
    padding:0 1em 0 1em;
}

.title-date > .movie-title{
    text-align:left;
    padding:0;
    margin-block-start: 1.1em;
    margin-block-end: 0.40em;
}

.date {
    grid-column:1 /span 2;
}

.overviewfull {
    grid-column:1 /span 2;
    padding-left:2em;
    padding-right:2em;
}

.trailer {
    font-size:1em;
    cursor: pointer;
    grid-column:1 /span 2;
    margin-bottom:.5em;
    padding-left:2em;
}

.trailer:hover{
    color:red;
}

.ratingsingle{
    padding-left:2em;
    grid-column: 1/ span 2;

}

.ratingsingle p {
    font-size:1.2em !important;
}

.review-button {
    display:inline-block;
    background-color:#242424;
    color:white;
    cursor: pointer;
    padding-left:2em;
    margin-bottom:1em;
}

.review-button a{
    font-size:1em !important;
    font-weight: 800;
}

.review-button:hover {
    color:red;
}

#rev {
    position:fixed;
    top:0;
    left:0;
    background-color:#242424;
    display:none;
    width:100%;
    height:100vh;
    overflow: scroll;
    padding: 0 1em 0 1em;
}

#rev h1 {
    display:inline-block;
    width:80%;
}

.rev-head {
    display:grid;
    grid-template-columns:1fr 1fr;
    width:80%;
    margin:auto;
}

.rev-head h1 {
    color:white;
}

#rev h3 {
    color:white;
}

.rev-head > .closepage {
    grid-column:2 /span 1;
}

.review-contents {
    background-color:#382E78;
    padding: 1em 1em 1em 1em;
    margin-bottom:1em;
    width:80%;
    margin:auto;
}

.review-cont {
    cursor:pointer;
}

.review-cont:hover {
    color:red;
}

.review-cont p {
    color:white;
}

@media screen and (min-width:812px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
    }

    #container {
        width:70%;
    }

    .now-p-title {
        text-align:left;
        padding:0 1em;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap:5%;
    }

    .details-bg {
        display:grid;
        background-color:#242424;
        width:100%;
        color:white;
        grid-template-columns:30% 70%;
    }

    .content {
        grid-template-columns: 1fr 1fr;

    }

    .ratingsingle {
        grid-column: 1/ span 1;

    }

    .title-date-cont{
        height:150px;
        margin: 0 1em 1em 0;
        width:auto;
    }

    .title-date {
        padding-left:2em;
    }

}

@media screen and (min-width:1250px) {

ul {
    grid-template-columns: repeat(3, 1fr);
}
li {
    width:300px;
    height:800px;
}

h2 {
    font-size:2em!important;
}

img {
    width:300px;
}


#hero {
    display:grid;
    /* grid-template-columns: repeat(8, 1fr); */
}


.background-img {
    display:inline;
    z-index: 1;
    position:relative;
}

.details-bg {
    max-width:1440px;
}

.score {
    border-radius:50%;
    width:30%;
    height:45px;
    font-size:1.5em;
}

#pages {
    width:30%;
}

}

@media screen and (min-width:1920px) {


    ul {
        grid-template-columns: repeat(4, 1fr);
    }



}