ul {
    margin:auto !important;
    width:86%;
    padding:1em 0;
    display:grid;
    grid-template-columns: 1fr;
    grid-column-gap:5%;
}

li {
    width:250px;
    height:720px;
    margin:auto;
    margin-bottom:1.5em;
    background-color:#382E78;
    padding-bottom:1em;
    color:white;
}

p {
    font-size:.8em;
}

h2 {
    font-size:1.2em!important;
}

img {
    width:250px;
}

a {
    color:white !important;
    font-size:2em;
    cursor:pointer;
}

a:hover {
    color:red !important;
}

#is-bg-purple {
    background-color: #382E78 !important;
}

#hero {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}

.jumbotron {
    height:375px;
    overflow:hidden;
}

.background-img {
    display:inline;
    opacity:0.2;
    z-index: 1;
    position:relative;
}

#popcorn {
z-index:2;
position:absolute;
left:38%;
}

.now-p {
    padding-left:2.5em !important;
}

.background {
    width:100%;
    background-color: #242424;
    padding:1em;
}

.movie-container {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    box-shadow: 10px 7px 10px 0px rgba(0,0,0,0.45);
}

.movie-img {
    grid-column: 1 / span 2;
}

.movie-img:hover :focus {
    background-color:red;
}

.movie-title {
    grid-column: 1 / span 2;
    text-align:center;
    padding:0 1em;
}

.synopsis {
    grid-column: 1 / span 2;
    padding: 0 2em;
}

.release {
    display:inline;
    margin:auto 0 auto 2em;
}

.release p {
    margin:0;
}

.score {
    background-color:#614BEF;
    border-radius:50%;
    width:30%;
    height:45px;
    text-align:center;
    margin:auto;
    font-size:1.5em;
}

.score p {
    display:inline;
    color:white;
}

#pages {
    background-color: #242424;
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    justify-items: center;
    width:40%;
    margin:auto;
}

#currentpg {
    border:1px solid;
    border-radius:50%;
    background:red;
}

.page {
    width:55px;
    text-align:center;
}

#singleview-cont {
    position:fixed;
    display:none;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    background-color:#382E78;
    z-index: 4;
}

.wrapper {
    width:70%;
}

#movie-cont {
    margin:auto;
    display:block;
    width:70%;
}

.poster-img {
    display:inline-block;
    width:30%
}

.poster-img img {
    width:100%;
}

.details-bg {
    display:inline-block;
    background-color:#242424;
    width:69%;
    color:white;
    padding:1em 3em;
    vertical-align: middle;
}


@media only screen and (min-width:800px) {

ul {
    grid-template-columns: repeat(3, 1fr);
}
li {
    width:300px;
    height:800px;
}

h2 {
    font-size:2em!important;
}

img {
    width:300px;
}

}

#hero {
    display:grid;
    /* grid-template-columns: repeat(8, 1fr); */
}

.jumbotron {
    height:375px;
    overflow:hidden;
}

.background-img {
    display:inline;
    opacity:0.2;
    z-index: 1;
    position:relative;
}

#popcorn {
z-index:2;
position:absolute;
left:38%;
}

.now-playing {
    background-color:#382E78;
    color:white;
    width:100%;
    height:56px;
}